
#BRcontainer {
	top@: 39;
	position:absolute;
    
    z-index: 1;
    overflow-x:auto;
    overflow-y: scroll;    
    background-color: #9A9B9D;
    margin-top: 0px;
}
#infoDiv {
	position:absolute;
	min-width:100%;
	min-height:100%;
	background-color: #000; /* The Fallback */
	color:#FFF;
}
#infoDiv div{
	margin-left: 30%;
	margin-right: 10%;
	margin-top: 20%;
	width: 80%;
}